<footer class = "footer" id="footer">
  <div class="footer-copyright">Copyright&copy; 2020 |
    <span> Power by Bach T Dao - s3673712 | <a href="https://www.facebook.com/profile.php?id=100009452070192" class="fa fa-facebook">Facebook</a> | <a href="https://www.linkedin.com/in/bach-dao-aa0599195/" class="fa fa-linkedin">linkedin</a>    </span>
  </div>
  
</footer>