<header id="header" class="navbar navbar-fixed-top navbar-inverse" style="margin-top:10px;background-color:black">

<%= link_to "Clock+", '#', id: "logo",style:"margin-left:10px;" %>
<nav >
  <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
   
    <li ><%= link_to "Showcase",   '#', class: 'custom-nav active'%></li>
   <li ><%= mail_to "s3673712@student.rmit.edu.au", "Contact Us" ,class: 'custom-nav'%></li>
  </ul>
</nav>

</header>